{%load staticfiles %}
<html>
<head>
    <link rel=""stylesheet" href="{% static "css/demo.css"%}">
    <title>

    </title>
</head>
<body>
<div class=""container" align="center">
    <div class="jumbotron">
        <h1>welcome to mohan jobs portal</h1>
        <p>
            continuous job updates in every hopurs....
        </p>
        <a class=""btn btn-primary btn-lg" href="/hydjobs" role="button">hyderabad jobs information</a>&nbsp&nbsp
        <a class=""btn btn-primary btn-lg" href="/chejobs" role="button">chennai jobs information</a>&nbsp&nbsp
        <a class=""btn btn-primary btn-lg" href="/punjobs" role="button">pune jobs information</a>&nbsp&nbsp
        <a class=""btn btn-primary btn-lg" href="/banjobs" role="button">bangalore jobs information</a>
    </div>
</div>
</body>
</html>